.row{
    padding-left: 50px;
}
ul{
    padding-left: 10%;
}
@media(max-width: 575px){
    .row{
        padding-left: 20px;
    }
    ul{
        padding-left: 4%;
    }
}
h1,h3{
    display: inline;
    text-align:justify;
}
