<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-sm-4 col-sm-4">
        <circle-progress
        [percent]="87"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#052c65'"
        [innerStrokeColor]="'#0dcaf0'"
        [animation]="true"
        [animationDuration]="4500"
        [titleFontSize]="'2em'"
        [subtitle]="'HTML'"
        [subtitleFontSize]="'1.5em'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-sm-4 col-sm-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#052c65'"
        [innerStrokeColor]="'#0dcaf0'"
        [animation]="true"
        [animationDuration]="4500"
        [titleFontSize]="'2em'"
        [subtitle]="'CSS'"
        [subtitleFontSize]="'1.5em'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-sm-4 col-sm-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#052c65'"
        [innerStrokeColor]="'#0dcaf0'"
        [animation]="true"
        [animationDuration]="4500"
        [titleFontSize]="'2em'"
        [subtitle]="'JavaScrip'"
        [subtitleFontSize]="'1.5em'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-sm-4 col-sm-4">
        <circle-progress
        [percent]="93"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#052c65'"
        [innerStrokeColor]="'#0dcaf0'"
        [animation]="true"
        [animationDuration]="4500"
        [titleFontSize]="'2em'"
        [subtitle]="'Comunicación'"
        [subtitleFontSize]="'1.5em'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-sm-4 col-sm-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#052c65'"
        [innerStrokeColor]="'#0dcaf0'"
        [animation]="true"
        [animationDuration]="4500"
        [titleFontSize]="'2em'"
        [subtitle]="'Gestión'"
        [subtitleFontSize]="'1.5em'"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-sm-4 col-sm-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#052c65'"
        [innerStrokeColor]="'#0dcaf0'"
        [animation]="true"
        [animationDuration]="4500"
        [titleFontSize]="'2em'"
        [subtitle]="'Colaboración'"
        [subtitleFontSize]="'1.5em'"
    ></circle-progress>
    </div>
</div>
