.row{
    padding: 20px;
    color: #f8f9fa;
    font-weight: bold;
    text-align: justify;
    font-size: small;
    background-color: #343a40;
    background-image:url(../../../assets/footer-bg.png);
    background-position: center; 
}
img{
    width: 50%;
}
.img1{
    text-align: center;
}
.img2{
    text-align: right;
}