<div clas="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(year)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam vero, libero numquam totam voluptatibus nulla repellat aperiam reiciendis aut facilis placeat dignissimos quidem in, ipsum sapiente laboriosam minima voluptatem non!</p>
        </ul>
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(year)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam vero, libero numquam totam voluptatibus nulla repellat aperiam reiciendis aut facilis placeat dignissimos quidem in, ipsum sapiente laboriosam minima voluptatem non!</p>
        </ul>
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(year)</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam vero, libero numquam totam voluptatibus nulla repellat aperiam reiciendis aut facilis placeat dignissimos quidem in, ipsum sapiente laboriosam minima voluptatem non!</p>
        </ul>
    </div>
</div>
