.row{
    padding: 20px;
}

#nombre{
    font-weight: bold;
    margin-top: 10.5%;
    
}
#titulo{
    font-style: italic;
    font-weight: 500;
}
@media (min-width: 576px){
    #fotoPerfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        top: 470px;
    }
    
}
@media (max-width: 575px){
    #fotoPerfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left:33%;
        top: 520px;
    }
    #nombre{
        text-align: center;
        margin-top: 20%;
    }
    #titulo{
        text-align: center;
    }
}
    