<div class="row">
    <div class="contenedor">
        <h1>Proyectos realizados</h1>
        <div class="col-sm-12 col-md-6 col-lg-6 parte1">
            <h2>Portafolio</h2>
            <p>Este portafolio web muestra mi trabajo como desarrollador web full-stack. He creado sitios web dinámicos y responsivos usando HTML, CSS, Angular, Bootstrap y otras tecnologías. He usado NPM para gestionar las dependencias de mis proyectos y GitHub para alojar y compartir mi código. He usado Visual Studio Code como mi editor de código preferido. En este portafolio podrás ver algunos de los proyectos que he realizado, las habilidades que tengo y la forma de contactarme. Espero que te guste mi trabajo y que podamos colaborar en el futuro.</p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/ProyectoM.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
