<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/arg_inti_minis.png" alt="" id="LogoAp">
    
        </div>
        <div class="redes">
            <a href="https://github.com/BraianBr"><img src="../../../assets/github.png" alt="Logo github" id="github"></a>
            <a href="https://www.linkedin.com/in/braianbr"><img src="../../../assets/linkedin.png" alt="Logo linkedin" id="linkedin"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>  
    </div>  
</div>
